<form [formGroup]="userReactiveForm">
  <mat-form-field>
    <input matInput type="text" placeholder="Username" formControlName="username">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="E-mail" formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Bio" formControlName="description">
  </mat-form-field>

  <button mat-raised-button class="signOutButton" (click)="signOut()" color="primary">Sign Out</button>
  <button mat-raised-button class="submitButton" (click)="submit()" color="primary">Submit</button>
</form>

