<mat-form-field>
  <input matInput type="text" [(ngModel)]="login" placeholder="Login"><br>
  <button mat-icon-button *ngIf="login" matSuffix mat-icon-button aria-label="Clear" (click)="login=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-form-field>
  <input matInput type="password" [(ngModel)]="password" placeholder="Password">
  <button mat-icon-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<button mat-raised-button class="signUpButton" (click)="signUp()" color="primary">Sign Up</button>
<button mat-raised-button class="signInButton" (click)="signIn()" color="primary">Sign In</button>
