/* TODO: use .scss instead .css */
mat-form-field {
  display: flex;
  justify-content: center;
  flex-direction: column;

  font-size: 20px;
  padding: 10px 15px;
}

.cancelButton{
  margin-left: 15px;
  float: left;
}

.submitButton{
  margin-right: 15px;
  float: right;
}
